/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : emorozov
*/

html { font-size:100%; }

body {
    font-family: "Roboto",sans-serif;
    background-image: url(../images/background_block.png);
    color: #ffffff;
}

.background {
    background-image: url(../images/background_block.png);
}

.white-background {
    background-color: #ffffff;
}

h1 {
    margin: 1% 0 2% 0;
    color: #ee5747;
}

.h1-version {
    color: #333333;
}

p {
    margin: 0 0 2% 0;
    line-height: 1.5;
}

.adaptive-img {
    max-width: 100%;
    height: auto !important;
}

.wrapp-div-for-img {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.add-left-margin {
    margin-left: 18px;
}

a:link {
    color: #ee5747;
    text-decoration: none;
   }
   
a:visited {
    color: #ee5747; 
}

a:active {
    color: #a43b30;  
} 

a:hover {
    color: #a43b30;
    text-decoration: underline;
}


/*-- HEADER --*/
        
header {
    position: fixed;
    height: auto;
    border-bottom: 1px solid #ee5747;
    width: 100%;
    z-index: 9999;
}
    
    .product {
        display: inline-block;
        color: #ee5747;
        text-decoration: none;
        text-align: center;
        width: 100%;
    }
    
    .phone-company {
        display: inline-block;
        width: 100%; 
        color: #ffffff;
        text-align: center;
    }
    
    .mail-company {
        display: inline-block;
        width: 100%; 
        color: #ffffff;
        text-decoration: none;
        text-align: center;
    }

/*-- END HEADER --*/


/*-- MAIN CONTAINER --*/

.wrapper {
    position: relative;
    padding: 3% 0 18% 0;
}

.wrapper-section-content {
    width: 100%;
    height: auto;
    margin: 40px 0 0 0;
}


    /*-- FEATURES AND CAROUSEL BLOCKS --*/
    
    .block-features {
        padding: 14px;
    }
    
        .block-features > ul {
            margin: 4% 0 4% 60px;
        }
        
            .block-features > ul > li {
                color: #ee5747;
                padding: 0 0 0 5px;
                margin: 2% 0 2% 0;
            }
        
                .block-features > ul > li > span {
                    color: #ffffff;
                }

    
    .block-carousel {
        padding: 5%;
    }
    
    /*-- END FEATURES AND CAROUSEL BLOCKS--*/
    
    
    /*-- EXAMPLE BLOCK --*/
    
    .example-block {
        padding: 14px;
    }
    
        .example-block > button {
            margin: 20px 0 0 18px;
            font-weight: 700;
            color: white;
            text-decoration: none;
            padding: .8em 1em calc(.8em + 3px);
            border-radius: 3px;
            border: none;
            background: #ee5747;
            box-shadow: 0 -3px #a43b30 inset;
            transition: 0.2s;
        }
    
                .example-block > button:hover {
                    background: #a43b30;
                    cursor: pointer;
                }

                .example-block > button:active {
                    background: #8f332a;
                    box-shadow: 0 3px #8f332a inset;
                }
        
    /*-- END EXAMPLE BLOCK--*/
    
    
    /*-- THE RANGE OF PRODUCTS BLOCK --*/
    
    .range-block {
        padding: 14px;
    }

        .row-product {
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid #cccccc;
            padding: 20px 0 20px 0;
        }

            .name-of-roduct {
                line-height: 1.3;
                color: #333333;
            }

            .description-product {
                padding: 3% 0 0 0;
                color: #333333;
                line-height: 1.3;
                text-align: justify;
            }

            .id-product {
                display: inline-block;
                width: 100%;
                padding: 3% 0 0 0;
                color: #333333;
            }

            .volume-product {
                display: inline-block;
                width: 100%;
                padding: 1% 0 0 0;
                color: #333333;
            }

            .cost-product {
                display: inline-block;
                width: 100%;
                padding: 3% 0 0 0;
                color: #333333;
            }
            
    /*-- END THE RANGE OF PRODUCTS BLOCK --*/
    
    
    /*-- ABOUT COMPANY BLOCK --*/
    
    .about-company-block {
        padding: 14px;
    }
    
    /*-- END ABOUT COMPANY BLOCK --*/
    
    
    /*-- QUALITY CERTIFICATES --*/
    
    .quality-certificates-block {
        padding: 14px;
    }
    
    .description-standart {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: #333333;
        line-height: 1.3;
    }
    
    /*-- END QUALITY CERTIFICATES --*/
    
    
    /*-- REVIEWS BLOCK --*/
    
    .reviews-block {
        padding: 14px;
    }

    .wrapp-div-for-review {
        display: inline-block;
        width: 100%;
        border-left: 5px solid #ee5747;
        margin: 3% auto;
    }
    
        .wrapp-div-for-review > p {
            padding: 2%;
        }

        .wrapp-div-for-review > span {
            display: inline-block;
            width: 90%;
            padding: 0 0 0 2%;
            line-height: 1.3;
        }
    
    /*-- END REVIEWS BLOCK --*/
    
    /*-- TERMS OF COOPERATION --*/
    
    .terms-of-cooperation-block {
        padding: 14px;
    }

    .wrapp-div-for-term {
        display: inline-block;
        width: 100%;
    }

        .wrapp-div-for-term > h2 {
            color: #333333;
            margin-bottom: 2%;
            font-weight: 200;
            line-height: 30px;
        }

        .wrapp-div-for-term > p {
            color: #333333;
        }
        
    /*-- END TERMS OF COOPERATION --*/

                                
/*-- END MAIN CONTAINER --*/   
                                
/*-- FOOTER --*/

footer {
    
    position: fixed;
    left: 0; bottom: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid #ee5747;
    z-index: 9999;
}

    footer > a {
        display: inline-block;
        width: 100%;
        height: 40px;
        text-align: center;
        padding: 15px 0 0 0;
    }
    
/*-- END FOOTER --*/   

@media only screen and (min-width: 1000px) {
        
        
    h1, .h1-version {font-size:30px; font-size:3rem;}

    /*-- HEADER --*/

    .product {font-size:11px; font-size:1.1rem;}

    /*-- END HEADER --*/

    /*-- FEATURES AND CAROUSEL BLOCKS --*/
    /*-- END FEATURES AND CAROUSEL BLOCKS --*/


    /*-- EXAMPLE BLOCK --*/

    .example-block > button {font-size:11px; font-size:1.1rem;}

    /*-- END EXAMPLE BLOCK --*/


    /*-- THE RANGE OF PRODUCTS BLOCK --*/
    /*-- END THE RANGE OF PRODUCTS BLOCK --*/

    /*-- REVIEWS BLOCK --*/

    .wrapp-div-for-review > span { font-size: 8px; font-size: 0.8rem; }

    /*-- END REVIEWS BLOCK --*/


    /*-- TERMS OF COOPERATION --*/

    .wrapp-div-for-term > h2 { font-size: 15px; font-size: 1.5rem;}

    /*-- END TERMS OF COOPERATION --*/
        
}
    
@media only screen and (min-width: 640px) and (max-width: 1000px) {
        
    h1, .h1-version {font-size:17px; font-size:1.7rem;}

    p {font-size:7px; font-size:0.7rem;}


    /*-- HEADER --*/

    .phone-company { font-size:8px; font-size:0.8rem; }

    .mail-company { font-size:8px; font-size:0.8rem; }

    /*-- END HEADER --*/


    /*-- FEATURES AND CAROUSEL BLOCKS --*/

        .block-features > ul { font-size:7px; font-size:0.7rem; }

    /*-- END FEATURES AND CAROUSEL BLOCKS --*/


    /*-- EXAMPLE BLOCK --*/

        .example-block > button {font-size:7px; font-size:0.7rem;}

    /*-- END EXAMPLE BLOCK --*/


    /*-- THE RANGE OF PRODUCTS BLOCK --*/

        .name-of-roduct { font-size:7px; font-size:0.7rem; }

        .id-product, .volume-product, .cost-product {
            font-size:7px; font-size:0.7rem;
        }

    /*-- QUALITY CERTIFICATES --*/

        .description-standart { font-size:7px; font-size:0.7rem; }

    /*-- END QUALITY CERTIFICATES --*/

    /*-- REVIEWS BLOCK --*/

        .wrapp-div-for-review > span { font-size: 5px; font-size: 0.5rem; }

    /*-- END REVIEWS BLOCK --*/

    /*-- TERMS OF COOPERATION --*/

        .wrapp-div-for-term > h2 { font-size: 11px; font-size: 1.1rem;}

    /*-- END TERMS OF COOPERATION --*/

}


@media only screen and (min-width: 300px) and (max-width: 640px) {
        
    h1, .h1-version {font-size:11px; font-size:1.1rem;}

    p {font-size:6px; font-size:0.6rem;}

    /*-- HEADER --*/

    .product {font-size:10px; font-size:1rem;}

    .phone-company { font-size:8px; font-size:0.8rem; }

    .mail-company { font-size:8px; font-size:0.8rem; }


    /*-- END HEADER --*/

    /*-- FEATURES AND CAROUSEL BLOCKS --*/

    .block-features > ul { font-size:6px; font-size:0.6rem; }

    /*-- END FEATURES AND CAROUSEL BLOCKS --*/

    /*-- EXAMPLE BLOCK --*/

    .example-block > button {font-size:6px; font-size:0.6rem;}

    /*-- END EXAMPLE BLOCK --*/

    /*-- THE RANGE OF PRODUCTS BLOCK --*/

    .name-of-roduct { font-size:6px; font-size:0.6rem; }

    .id-product, .volume-product, .cost-product {
        font-size:6px; font-size:0.6rem;
    }

    /*-- QUALITY CERTIFICATES --*/

    .description-standart { font-size:6px; font-size:0.6rem; }

    /*-- END QUALITY CERTIFICATES --*/

    /*-- REVIEWS BLOCK --*/

    .wrapp-div-for-review > span { font-size: 5px; font-size: 0.5rem; }

    /*-- END REVIEWS BLOCK --*/

    /*-- TERMS OF COOPERATION --*/

    .wrapp-div-for-term > h2 { font-size: 10px; font-size: 1rem;}

    /*-- END TERMS OF COOPERATION --*/


    /*-- FOOTER --*/

        footer > a {font-size:10px; font-size:1rem;}

    /*-- END FOOTER --*/   

}
    
